/*********************************************************************************/
/* Parcels Page Style                                                            */
/*********************************************************************************/
#parcels-page .submit-btn
{
	position: relative;
}

/*********************************************************************************/
/* Parcels List Style                                                            */
/*********************************************************************************/

#parcels-menu
{
	width: 100%;
	min-height: 100px;
	height: auto;
	position: relative;

}

#parcels-list
{
	/* float: left; 
	display: inline-block; */
}

/*********************************************************************************/
/* Parcel Info Style                                                             */
/*********************************************************************************/

#parcel-info
{
	position: relative;
	float: right;
	width: 70%;
	display: inline-block;
}


/*********************************************************************************/
/* Parcel List Element Style                                                     */
/*********************************************************************************/

#parcels-list .parcel-list-elem
{
	padding: 1em;
	border-width: 2px;
	border-width: 2px;
	border-style: solid;
}